<% provide :button_text, t("buttons.edit") %>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <h2><%= t "courses.edit_form" %></h2>
    <%= render "form", course: @course %>
  </div>
</div>
