<li>
  <% if user_subject.subject.started? %>
    <%= (link_to user_subject.subject.name,
      user_user_subject_path(current_user, user_subject.subject)) %>
  <% else %>
    <%= user_subject.subject.name %>
    <%= render "user_subjects/finished" %>
  <% end %>
</li>
