<footer class="footer">
  <small><%= t "tms_36" %></small>
  <nav>
    <ul>
      <li><%= link_to t("layouts.footer.about"), "#" %></li>
      <li><%= link_to t("layouts.footer.contact"), "#" %></li>
      <li><%= link_to t("layouts.footer.help"), "#" %></li>
    </ul>
  </nav>
</footer>
