<li>
  <%= gravatar_for user, size = 50 %>
  <%= link_to user.name, user %>
  | <%= link_to t("users.delete"), supervisors_user_path(user),
      method: :delete, data: {confirm: t("users.ask_del")} %>
</li>
