<tr>
  <td><%= gravatar_for user, size: Settings.size %></td>
  <td><%= link_to user.name, supervisors_user_path(user) %></td>
  <% unless user.is_supervisor? %>
    <td><%= link_to t("users.edit"), edit_supervisors_user_path(user) %></td>
    <td><%= link_to t("users.delete"), supervisors_user_path(user),
      method: :delete, data: {confirm: t("users.ask_del")} %></td>
  <% end %>
</tr>

